<div class="col-lg-4 pr-5 pl-1 pb-5">
    <!-- Account Sidebar-->
    <div class="author-card pb-3">
        <div class="author-card-cover" style="background-image: url(/user_assets/images/profilepic.jpg);"><a class="btn btn-style-1 btn-white btn-sm" href="#" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward points to spend"><i class="fa fa-award text-md"></i>&nbsp; </a></div>
        <div class="author-card-profile">
            <div class="author-card-avatar"><img src="/user_assets/images/propic.jpeg" alt="Daniel Adams">
            </div>
            <div class="author-card-details">
                <h5 class="author-card-name text-lg">Daniel Adams</h5><span class="author-card-position">Joined February 06, 2017</span>
            </div>
        </div>
    </div>
    <div class="wizard">
        <nav class="list-group list-group-flush">
            <a class="list-group-item" href="/orderlist">
                <div class="d-flex justify-content-between align-items-center">
                     <div><i class="fa fa-shopping-bag mr-1 text-muted"></i>
                       <div class="d-inline-block font-weight-medium text-uppercase">Orders List</div>
                    </div><span class="badge badge-secondary"></span>
                </div>
            </a><a class="list-group-item" href="/profilepage" target="__blank">
             Account Info</a><a class="list-group-item" href="/addrespage"><i class="fa fa-map-marker text-muted"></i>Addresses</a>
            <a class="list-group-item" href="#">
                <div class="d-flex justify-content-between align-items-center">
 
                </div>
            </a>
            <a class="list-group-item" href="https://www.bootdey.com/snippets/view/bs4-account-tickets" target="__blank">
                <div class="d-flex justify-content-between align-items-center">
 
                </div>
            </a>
        </nav>
    </div>
</div>