<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>YKENzz Football Accessories</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/user_assets/Images/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- <link href="/public/css/style.css" rel="stylesheet"> -->
    <link href="/user_assets/css/style.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/user_assets/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="/homepage" class="text-decoration-none">
                    <!-- <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold   mr-1">Y</span>KENZZ </h1> -->
                    <h1 class="m-0 display-5 font-weight-semi-bold text-info"><span class="text-primary text-danger font-weight-bold   mr-1">Y</span>KENZZ </h1>

                 </a> 
                
                 <!-- <img src="/user_assets/images/LOGO.png" alt=""> -->
            </div>
            <div class="col-lg-6 col-6 text-left ">
                <div class="col-lg-12 p-0">
                    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-5">
                        <a href="" class="text-decoration-none d-block d-lg-none">
                            <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold  ">E</span>Shopper</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0 px-5 ">
                                <a href="/homepage" class="nav-item nav-link active mx-3">Home</a>
                                <a href="/shop?page=0" class="nav-item nav-link mx-3 ">Shop</a>
                                <a href="detail.html" class="nav-item nav-link mx-3">About</a>
                                <!-- <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">Pages</a>
                                    <div class="dropdown-menu rounded-0 m-0">
                                        <a href="/cartpage" class="dropdown-item ">Shopping Cart</a>
                                        <a href="/chekoutpage" class="dropdown-item ">Checkout</a>
                                    </div>
                                </div> -->
                                <a href="contact.html" class="nav-item nav-link">Contact</a>
                            </div>
                            <!-- <div class="navbar-nav ml-auto py-0">
                                <a href="/login" class="nav-item nav-link">Login</a>
                                <a href="/" class="nav-item nav-link">Signup</a>
     
                            </div> -->
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="/walletpage" class="">
                    <i class="fas fa-wallet text-primary"></i>
                    <span class="badge">  </span>
                  </a>
                <a href="/cartpage" class="">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">  </span>
                </a>
                <div class="btn-group">
                    <!-- <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                    </button> -->

                     
                    <a class="dropdown-toggle"data-bs-toggle="dropdown" href="" aria-expanded="false" > <img src="/user_assets/images/profilelogo.png" alt="image"> </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/profilepage" >Profile</a></li>
   
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    