<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YKENzz Admin Login</title>
</head>

<link rel="stylesheet" href="admin_assets/css/adminlogin.css">
<body>
    <div class="wrapper">
        <div class="logo">
            <link href="/user_assets/Images/FAVICON.ico" rel="icon">
        </div>
        <div class="text-center mt-4 name">
            Admin Login
        </div>
        <form class="p-3 mt-3" action="/admin/verifyadmindata" method="post">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="adminname" id="userName" placeholder="AdminName" value="yeduknr" required>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="adminpassword" id="pwd" placeholder="Password" value="yedu0987" required>
            </div>
            <p class="pclass"><%=(typeof msg!=='undefined' )?msg:""%></p>
              <button class="btn mt-3" type="submit">Login</button>

             
            

            
        </form>
      
    </div>

     
     <!-- Your regular content for the admin page goes here -->
     <!-- ... -->
     
</body>
</html>