<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title> 
    <link rel="stylesheet" href="/user_assets/css/style2.css">
</head>
<body>
    <%-include('../../partials/userheader') %>

    <div class="containerr mt-5 p-5">

        <div class="login-container">

            <h1>RESET PASSWORD</h1>
            <form action="/passwordReset" method="POST">
                <div class="input-container">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="newpassword" placeholder="New Password"   required>
                </div>              
                <div class="input-container">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="confirm_password" placeholder="Confirm Password"   required>
                </div>
                <button type="submit">APPLY</button>
            </form>

        </div>
    </div>
</body>
</html>
